/*
.container {
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    padding: 2em 30em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.title {
    font-size: 3em;
    font-weight: 400;
    text-align: center;
    margin: 1em;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 3em;
}
*/

.container {
    color: black;
    padding:  5vw 10vw;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    position: relative;
}

.project {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 3em 0;
    border-bottom: 1px solid rgb(65, 65, 65);
}

.title {
    display: flex;
    font-size: 5em;
    align-items: baseline;
}

.number {
    font-size: 0.4em;
    color: rgb(95, 95, 95);
    width: 2em;
}

.desc {
    font-size: 2em;
}

.header {
    font-size: 3em;
}