.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding: 12em;
    margin: 1em;
    box-sizing: border-box;
    height: calc(100vh - 2em);
    border-radius: 15px;
    z-index: 1;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.descText {
    font-size: 2em;
    font-weight: 200;
    width: 50%;
    text-align: center;
}

.mainText {
    font-size: 7em;
    font-weight: 400;
    text-align: center;
}

.nameText {
    text-align: center;
    font-size: 2em;
}