@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/poppins/Poppins-Light.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/poppins/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/poppins/Poppins-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/poppins/Poppins-Bold.ttf) format("truetype");
  font-weight: 800;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background-colour: #f0f1fa;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: var(--background-colour, #ffffff);

  font-family: "Poppins", serif;
  font-size: 0.7vw;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  cursor: none !important;
  --cursor-scale: 1;
  --cursor-size: 30px;
  --cursor-blur: 7px;
  --cursor-colour: #000;
  --cursor-opacity: 1;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


html, html * , html *::before, html *::after {
  cursor: none !important;
}